/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Uniformisation document */

* {
  margin: 0;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

:root {
  /* Fonts */
  --title: "Sora", sans-serif;
  --text: "Carlito", sans-serif;;

  /* Colors */
  --white: #ffffff;
  --dark-text: #4b5563;
  --light-grey: #f9fafb;
  --grey: #d1d5db;
  --dark-grey: #9ca3af;
  --primary-color: #DD6E42;
  --secondary-color: #2CDA9D;
}

h1,
h2,
h3 {
  font-family: var(--title);
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  color: var(--primary-color);
  font-size: 36px;
  text-align: center;
}

h3{
  color: var(--dark-text);
}

p,
a,
label,
input,
textarea {
  font-family: var(--text);
  color: var(--dark-text);
}

p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

label {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  font-family: var(--title);
  font-size: 24px;
  font-weight: 700;
}

.button {
  padding: 14px 32px;
  background: var(--secondary-color);
  color: var(--white);
  border-radius: 8px;
  display: block;
  width: fit-content;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.link {
  color: var(--secondary-color);
  position: relative;

  &:hover {
    i {
      position: absolute;
      top: 3px;
      animation: 0.5s slideOut;
      animation-fill-mode: forwards;
    }
  }
}

.tag {
  padding: 5px 12px;
  background: var(--light-grey);
  border-radius: 1000px;
}

section {
  padding: 80px 0;
}

.container-1540 {
  max-width: 1540px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-670 {
  max-width: 670px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Animations */

@keyframes slideOut {
  0% {
    right: -17px;
  }
  100% {
    right: -117px;
  }
}

/* Eléments réutilisables */

.liste-projets {
  display: grid;
  gap: 25px;

  article {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;

    img {
      height: 250px;
      object-fit: cover;
      object-position: top;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    > div {
      padding: 25px;

      h3,
      > p,
      div {
        margin-bottom: 15px;
      }

      div {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
      }
    }
  }
}

/* Header */

header {
  background: var(--light-grey);
  box-shadow: 0px 1px 2px 0px #0000000d;

  .container-1540 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {
      color: var(--primary-color);
    }

    nav {
      ul {
        display: flex;
        padding: 0;
        list-style: none;

        li {
          a {
            padding: 22px;
            font-weight: 500;

            &:hover {
              background: var(--secondary-color);
              color: var(--white);
            }
          }
        }
      }
    }

    #burgermenu {
      display: none;
    }
  }
}

/* Footer */

footer {
  background: var(--primary-color);
  padding: 50px 0;

  .container-1540 {
    .logo {
      color: var(--white);
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #socials {
        display: flex;
        align-items: center;

        a {
          padding: 15px;

          i {
            font-size: 20px;
            color: var(--white);
            background: var(--dark-text);
            padding: 15px 16px;
            border-radius: 1000000px;
          }

          &:nth-child(2) {
            i {
              padding: 15px;
            }
          }

          &:hover {
            scale: 1.1;
          }
        }
      }

      &:nth-child(2) {
        p {
          color: var(--white);
          &:nth-child(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* Présentation */

#presentation {
  height: 100vh;
  padding: 0;
  background: linear-gradient(
      90deg,
      rgba(45, 48, 71, 0.9) 0%,
      rgba(45, 48, 71, 0.7) 50%,
      rgba(45, 48, 71, 0) 100%
    ),
    url(../img/background-presentation.jpg);
  background-position: center;
  background-size: cover;

  .container-1540 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    article {
      h1,
      p {
        color: var(--white);
      }

      h1 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 30px;
      }

      p:nth-child(2) {
        font-size: 24px;
      }

      p:nth-child(3) {
        font-size: 18px;
        max-width: 500px;
      }
    }

    img {
      width: 250px;
      height: 250px;
      border-radius: 10000px;
      object-fit: cover;
      justify-self: center;
      border: 4px solid var(--white);
    }
  }
}

/* À propos */

#about {
  h2 {
    margin-bottom: 25px;
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;

    article {
      h3 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      p {
        margin-bottom: 25px;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        span {
          justify-self: center;
          text-align: center;
          flex: 1 0 30%;

          i {
            color: var(--primary-color);
            font-size: 50px;
            margin-bottom: 20px;
          }

          p {
            font-weight: 500;
          }
        }
      }
    }
  }
}

/* Projets récents */

#projects {
  background: var(--light-grey);

  .container-1540 {
    > p:nth-child(2) {
      text-align: center;
      max-width: 600px;
      margin: 25px auto;
    }

    .liste-projets {
      grid-template-columns: 1fr 1fr;
    }

    .button {
      margin: auto;
      margin-top: 50px;
    }
  }
}

/* Contact */

#contact {
  p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
  }

  form {
    background: var(--light-grey);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  span {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:nth-child(3),
    &:nth-child(4) {
      grid-column: 1 / 3;
    }

    &:nth-child(4) {
      flex-direction: row;
      align-items: start;

      label {
        font-weight: 400;
        font-size: 14px;
      }
    }

    input,
    textarea {
      padding: 15px;
      border-radius: 8px;
      background: var(--white);
      border: 1px solid var(--grey);
      font-size: 16px;
    }

    textarea {
      min-height: 146px;
      resize: none;
    }
  }

  input[type="submit"] {
    border: none;
  }
}

/* Page projet */

#projects-page {
  #projects {
    .container-1540 {
      .liste-projets {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

/* Page à propos */

#about-page{
  #about{
    div{
      img{
        width: 400px;
        height: 400px;
        border-radius: 10000px;
        object-fit: cover;
        justify-self: center;
      }

      article:nth-child(3){
        grid-column: 1 / 3;

        h3{
          text-align: center;
        }
      }
    }
  }
}

/* Responsive tablette */

@media screen and (max-width: 1024px) {
  /* À propos */
  #about {
    div {
      grid-template-columns: 1fr;
    }
  }

  /* Page projet */

  #projects-page {
    #projects {
      .container-1540 {
        .liste-projets {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

/* Responsive mobile */

@media screen and (max-width: 767px) {
  /* Header */

  header {
    .container-1540 {
      nav {
        display: none;
      }

      #burgermenu {
        display: block;
      }
    }
  }

  /* Footer */

  footer {
    .container-1540 {
      > div {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  /* Animation */

  @keyframes slideOut {
    0% {
      right: -17px;
    }
    100% {
      right: -47px;
    }
  }

  /* Eléments réutilisables */

  .liste-projets {
    grid-template-columns: 1fr !important;
  }

  /* Présentation */

  #presentation {
    height: fit-content;
    padding: 25px 0;
    .container-1540 {
      grid-template-columns: 1fr;

      img {
        margin: 20px 0;
      }
    }
  }

  /* Contact */

  #contact {
    form {
      grid-template-columns: 1fr;

      span {
        grid-column: 1 !important;
      }
    }
  }
}
